@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Open+Sans:wght@400;700&family=Outfit:wght@300;400;600&family=Overpass:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
  --darkest-blue: hsl(228, 11%, 9%); /* added this for background color */
  --dark-blue-variant: hsl(215, 20%, 16%); /* added this for panel gradient */
  --very-dark-blue-variant: hsl(
    220,
    21%,
    11%
  ); /* added this for panel gradient */
}

body {
  font-size: 15px;
  font-family: "Overpass", sans-serif;
  background-color: var(--darkest-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 1px);
  margin: 1.25rem;
}

/* Start Container */
.container {
  width: 390px;
  height: 370px;
  background-image: linear-gradient(
    var(--dark-blue-variant),
    var(--very-dark-blue-variant)
  );
  margin: 3rem;
  border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
}
/* End Container  */

/* Start star */

.star {
  padding: 1rem;
  margin: 1.5rem;
  background-color: var(--Dark-Blue);
  border-radius: 50%;
}

h1 {
  color: var(--White);
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  font-size: 25px;
}

.text {
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  color: var(--Light-Grey);
  line-height: 1.5;
}

.nums {
  display: flex;
  color: var(--Medium-Grey);
  justify-content: space-evenly;
  padding-right: 8px;
}
.num {
  background-color: var(--Dark-Blue);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 2.6rem;
  height: 2.6rem;
  padding: 0.8625rem;
  text-align: center;
  cursor: pointer;
}

button {
  margin-top: 30px;
  margin-left: 1.5rem;
  width: 87%;
  background-color: var(--Orange);
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  height: 38px;
  color: var(--White);
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  background-color: white;
}

.attribution a {
  text-decoration: none;
  color: hsl(178, 100%, 50%);
}

.attribution {
  color: var(--White);
}
